body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}
video {
    background-color:brown;
    width: 90%;
}
select, button{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: brown solid 1px;
}
button:hover {
    background-color: rgb(139, 201, 235);
}