.sign-in {
    position: absolute;
    top: 0%;
    left:0%;
}
.sign-out {
    position: absolute;
    top: 0%;
    left:10%;
}
#profile-pic {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid yellow;
}
#profile-pic:hover {
    border-radius: 10%;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    height: 900%;
    width: 100%;
    background-color: grey;

}
.navbar {
    color: black;
}
.modal_item {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    background-color: wheat;
}
.modal_item:hover {
    background-color: cornflowerblue;
    color: red;
    opacity: 90%;
}