.screen {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px grey solid;
}
.auth_body {
    height: 90%;
    width: 100%;
}
.friends_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#profile-pic {
    height: 4.4em;
    width: 4.4em;
    border-radius: 50%;
    margin-left: 10px;
}
#profile-pic:hover {
    border-radius: 20%;
}
.add_friends_btn {
    margin-right: 1em;
    height: 4.4em;
    width: 4.5em;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0em;
    width: 100%;
    background-color: white;
}
.modal_item {
    display: flex;
    width: 95%;
    justify-content: center;
    border: 2px solid black;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: 0px;
}
h4.modal_item:hover {
    background-color: red;
    opacity: 90%;
}
.selected {
    background-color: mediumseagreen;
}