.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.capture {
    position: absolute;
    bottom: 5%;
}
.capture-img {
    position: absolute;
    top: 0%;
}
.send-to {
    position: absolute;
    bottom: 10%;
}
.reset {
    position: absolute;
    top: 5%;
}