.close {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5%;
}
.capture {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}
.send {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}
.webcam{
    display:none;
}