h4, h1, p {
    margin: 0em;
    padding: 0em;
    color: black;
}
h4 {
    font-size: 1.4em;
}
p {
    font-size: 0.8em;
}
.new-snap {
    color: red;
    font-weight: bold;
    font-size: 13px;
    margin-right: 0.6em;
}
.red-block {
    width: 1.2em;
    height: 1.2em;
    background: red;
    border-radius: 20%;
    margin-right: 0.4em
}
.Chats {
    display: flex;
    flex-direction: column;
}
.Chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.photoURL {
    height: 3.2em;
    width: 3.2em;
    border-radius: 100%;
    margin-left: 0.8em;
}
.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.8em;
}
.status {
    display: flex;
    flex-direction: row;
}
#photo {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
}