div {
    background: 'MediumSeaGreen';
    color: black;
    width: 100%;
}
.Chat {
    border:darkgreen 2px solid;
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: end;
    width: 100%;
}
.Chat:hover {
    background-color: darkgreen;
}
h4, p {
    margin: 0px;
}
.nav-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    border: black 1px solid;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
.close {
    position: absolute;
    right:5%;
    top:1%;
}