body {
    font-family: Helvetica;
    width: 100%;
}
header {
    background-color: mediumturquoise;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    position: absolute;
    top:0%;
    left:0%;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.Chats {
    width: 100%;
}
.Chat {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: end;
    width: 100%;
    border: 1px darkgreen solid;
}
.Chat:hover {
    background-color: darkgreen;
}
h4, p {
    margin: 0px;
}
#photo {
    position: absolute;
    top: 0%;
    left: 0%;
}
.photoURL {
    height:50px;
    width:50px;
    border-radius: 100%;
}